<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340742626664-60imcufoaf8a53hngo8537japg9rennv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340742626664-60imcufoaf8a53hngo8537japg9rennv</string>
	<key>API_KEY</key>
	<string>AIzaSyAGhJ4da4PrjlzPXtyKPgaGMN8zXrtQF6E</string>
	<key>GCM_SENDER_ID</key>
	<string>340742626664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.upsud.cadeauxApp</string>
	<key>PROJECT_ID</key>
	<string>cado-f7a35</string>
	<key>STORAGE_BUCKET</key>
	<string>cado-f7a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340742626664:ios:76e3ba80471125a7</string>
	<key>DATABASE_URL</key>
	<string>https://cado-f7a35.firebaseio.com</string>
</dict>
</plist>